# =========================
# Python
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# =========================
# ML Models
# =========================
*.pkl
*.joblib

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/

# npm
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tailwind / Cache
# =========================
.cache/
.parcel-cache/

# =========================
# Testing
# =========================
.coverage
pytest_cache/

# =========================
# Misc
# =========================
*.tmp